{
  activity:Activity
  , user: "fred.oden@gmail.com"
  , appli: "LourahFlights"
  , key:"@@@key@@@"
  , secret:"@@@secret@@@"
  , authorizationServer:"https://test.api.amadeus.com/v1/security/oauth2/token"
  , endpoint:"https://test.api.amadeus.com/v2"
  , logger:log
    }
